<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
			<ion-back-button (click)="navigateToInicio()"></ion-back-button>
		</ion-buttons>
    <ion-title align = "center">Equipos F1</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1>ESTÁ ES MI CUARTA PÁGINA, AQUI VA A IR LA INFORMACION DE TODOS LOS EQUIPOS CON FOTOS, ETC...</h1>
  <br>
  <br>
  <ion-img width="80" height="80" src="https://www.mundodeportivo.com/r/GODO/MD/p3/Motor/Imagenes/2015/12/24/img_fmorales_20151224-115954_imagenes_md_otras_fuentes_formula1-pasta.jpg"></ion-img>

</ion-content>

<ion-footer id="pie">
  <ion-toolbar>
    <ion-buttons>
      <ion-button (click)="navigateToInfo()" class="button-footer">
        <ion-icon name="man"></ion-icon>
        <label class="texto-boton">Parrilla F1</label>
      </ion-button>
      <ion-button (click)="navigateToEquipo()" class="button-footer">
        <ion-icon name="car"></ion-icon>
        <label class="texto-boton">Equipos</label>
      </ion-button>
      <ion-button (click)="navigateToMotor()" class="button-footer">
        <label class="texto-boton">Motorización</label>
      </ion-button>
      <ion-button (click)="navigateToAcerca()" class="button-footer">
        <ion-icon name="information-circle-outline"></ion-icon>
        <label class="texto-boton">Acerca de</label>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>