<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
			<ion-back-button (click)="navigateToInicio()"></ion-back-button>
		</ion-buttons>
		<ion-title align = "center">
      Detalle piloto
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content> 
    <ion-item>
        El ID del piloto es : {{ id }}
      </ion-item>
      <ion-item>
        <ion-label><strong>Nombre: </strong></ion-label>
        <ion-input [(ngModel)]="document.data.nombre"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label><strong>Equipo: </strong></ion-label>
        <ion-input [(ngModel)]="document.data.equipo"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label><strong>Nº Pilotos: </strong></ion-label>
        <ion-input [(ngModel)]="document.data.numeroPilotos"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label><strong>Motor: </strong></ion-label>
        <ion-input [(ngModel)]="document.data.motor"></ion-input>
      </ion-item>
      <br>
      <div>
      <ion-buttons>
        <ion-button *ngIf="id == 'new'" (click)="presentAlertConfirmInsertar()"><ion-icon name="save" size = "large"></ion-icon></ion-button>
      </ion-buttons>
      <ion-buttons>
        <ion-button *ngIf="id != 'new'" (click)="presentAlertConfirmModificar()"><ion-icon name="save" size = "large"></ion-icon></ion-button>
      </ion-buttons>
      <ion-buttons>
        <ion-button (click)="presentAlertConfirmBorrar()"><ion-icon name="trash" size = "large"></ion-icon></ion-button>
      </ion-buttons>
      <ion-buttons>
        <ion-button (click)="uploadImagePicker()"><ion-icon name="add" size = "large"></ion-icon></ion-button>
      </ion-buttons>
    </div>
</ion-content>