<ion-header>
  <ion-toolbar>
		<ion-title>User</ion-title>
		<ion-buttons slot="start">
			<ion-button *ngIf="id == 'new'" (click)="clicBotonInsertar()"><ion-icon name="arrow-round-back"></ion-icon></ion-button>
			<ion-button *ngIf="id != 'new'" (click)="clicBotonModificar()"><ion-icon name="arrow-round-back"></ion-icon></ion-button>
		</ion-buttons>
		<ion-buttons slot="end">
			<ion-button (click)="clicBotonBorrar()"><ion-icon name="trash"></ion-icon></ion-button>

		</ion-buttons>
	</ion-toolbar>
</ion-header>

<ion-content> 
    <ion-item>
        El ID del producto es : {{ id }}
      </ion-item>
      <ion-item>
        <ion-label><strong>Nombre: </strong></ion-label>
        <ion-input [(ngModel)]="document.data.nombre"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label><strong>Equipo: </strong></ion-label>
        <ion-input [(ngModel)]="document.data.equipo"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label><strong>Nº Pilotos: </strong></ion-label>
        <ion-input [(ngModel)]="document.data.numeroPilotos"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label><strong>Motor: </strong></ion-label>
        <ion-input [(ngModel)]="document.data.motor"></ion-input>
      </ion-item>
  <ion-button (click)="clicBotonBorrar()">Borrar piloto</ion-button>
  <ion-button (click)="clicBotonModificar()">Guardar piloto</ion-button>
</ion-content>