<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-item>
    <ion-label>Nombre</ion-label>
    <ion-input [(ngModel)]="pilotosEditando.nombre"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Equipo</ion-label>
    <ion-input [(ngModel)]="pilotosEditando.equipo"></ion-input>
  </ion-item>
  <ion-button (click)="clicBotonInsertar()">Añadir tarea</ion-button>
  <ion-button (click)="clicBotonBorrar()">Borrar piloto</ion-button>
  <ion-button (click)="clicBotonModificar()">Modificar tarea</ion-button>

<h1>LISTA DE PILOTOS</h1>
  <ion-list>
    <ion-item *ngFor="let documentPilotos of arrayColeccionPilotos "(click)="selecPiloto(documentPilotos)">
      <ion-grid>
        <ion-row>
          <h2>{{documentPilotos.data.nombre}}</h2>
        </ion-row>
        <ion-row>
          <p>{{documentPilotos.data.equipo}}</p>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>
</ion-content>