<ion-header>
  <ion-toolbar>
    <ion-title align = "center">
      Proyecto F1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
<h1>LISTA DE PILOTOS</h1>
  <ion-list>
    <ion-item *ngFor="let documentPilotos of arrayColeccionPilotos "(click)="navigateToUser(documentPilotos.id)">
      <ion-grid>
        <ion-row>
          <h2><ion-icon name="man"></ion-icon>{{documentPilotos.data.nombre}}</h2>
        </ion-row>
        <ion-row>
          <p><ion-icon name="car"></ion-icon>{{documentPilotos.data.equipo}}</p>
        </ion-row>
        <ion-row>
          <p><ion-icon name="arrow-forward"></ion-icon>{{documentPilotos.data.numeroPilotos}}</p>
        </ion-row>
        <ion-row>
          <p><ion-icon name="construct"></ion-icon>{{documentPilotos.data.motor}}</p>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="navigateToUser('new')" color="danger">
      <ion-icon name="add"></ion-icon>
  </ion-fab-button>
  </ion-fab>
</ion-content>

<ion-footer id="pie">
  <ion-toolbar>
    <ion-buttons class="ion-content-center">
      <ion-button (click)="navigateToInfo()" class="button-footer">
        <ion-icon name="man"></ion-icon>
        <label class="texto-boton">Parrilla F1</label>
      </ion-button>
      <ion-button (click)="navigateToEquipo()" class="button-footer">
        <ion-icon name="car"></ion-icon>
        <label class="texto-boton">Equipos</label>
      </ion-button>
      <ion-button (click)="navigateToMotor()" class="button-footer">
        <ion-icon name="construct"></ion-icon>
        <label class="texto-boton">Motorización</label>
      </ion-button>
      <ion-button (click)="navigateToAcerca()" class="button-footer">
        <ion-icon name="information-circle-outline"></ion-icon>
        <label class="texto-boton">Acerca de</label>
      </ion-button>
      <ion-button (click)="navigateToMapa()" class="button-footer">
        <ion-icon name="map"></ion-icon>
        <label class="texto-boton">Mapa</label>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>