<ion-header>
  <ion-toolbar>
    <ion-title>
      Proyecto F1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
<h1>LISTA DE PILOTOS</h1>
  <ion-list>
    <ion-item *ngFor="let documentPilotos of arrayColeccionPilotos "(click)="navigateToUser(documentPilotos)">
      <ion-grid>
        <ion-row>
          <h2>{{documentPilotos.data.nombre}}</h2>
        </ion-row>
        <ion-row>
          <p>{{documentPilotos.data.equipo}}</p>
        </ion-row>
        <ion-row>
          <p>{{documentPilotos.data.numeroPilotos}}</p>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="navigateToUser('new')" color="danger">
      <ion-icon name="add"></ion-icon>
  </ion-fab-button>
  </ion-fab>
</ion-content>