ion-toolbar {
    --ion-background-color: rgb(230, 15, 15);
    color: rgb(255, 255, 255);
}

.button-footer {
    margin: auto;
} 

.lista {
    text-align: center;
}

img {
    float: right; 
    margin: 0px 0px 0px 0px;
}

@media (orientation: landscape) {
    #pie {
        justify-content: center;
        // visibility: collapse;
    }
}

@media (orientation: portrait) {
    .texto-boton {
        font-size: 0;       
        text-transform: uppercase;
    }
}